<nav id="main-nav" class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container px-sm-3">
        <a class="navbar-brand" href="#top"><code class="shrink">CSP|iframe</code> <code>sandbox</code> Comparison</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavCollapse" aria-controls="mainNavCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavCollapse">
            <nav id="main-scroll" class="nav navbar-nav mr-auto">
                <a class="scroll-spy-only nav-item nav-link" href="#top">Top</a>
                <a class="nav-item nav-link" href="#privacy">Privacy</a>
                <a class="nav-item nav-link" href="#overview">Overview</a>
                <a class="nav-item nav-link" href="#sandbox-demo"><code>sandbox</code> Demo</a>
                <a class="nav-item nav-link" href="#other-stuff">Other Stuff</a>
            </nav>
        </div>
    </div>
</nav>
