<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.css" integrity="sha256-82G4efqUnm3xpPDdE5JH3ghUZUebk35mZJXrWzPRnPk=" crossorigin="anonymous" />
</head>

<body>
    <div class="reveal">
        <div class="slides">
            <section>This slideshow</section>
            <section>should run automatically</section>
            <section>with scripts enabled</section>
            <section>and will loop forever</section>
            <section>The actual</section>
            <section><a href="https://developer.mozilla.org/en-US/docs/Web/API/Presentation_API" target="_blank">Presentation API</a></section>
            <section>is still pretty new</section>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js" integrity="sha256-ixSKHrWAL2k0mqVSRju9+to2/uZSEK9+kJRfdNBolG8=" crossorigin="anonymous"></script>
<script>
Reveal.initialize({autoSlide: 4000, loop: true});

</script>

</html>
