<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.css" integrity="sha256-82G4efqUnm3xpPDdE5JH3ghUZUebk35mZJXrWzPRnPk=" crossorigin="anonymous" />
</head>

<body>
    <div class="reveal">
        <div class="slides">
            <section><h3>This slideshow</h3></section>
            <section><h3>should run automatically</h3></section>
            <section><h3>with scripts enabled</h3></section>
            <section><h3>and will loop forever</h3></section>
            <section><h3>The actual</h3></section>
            <section><h3><a href="https://developer.mozilla.org/en-US/docs/Web/API/Presentation_API" target="_blank">Presentation API</a></h3></section>
            <section><h3>is still pretty new</h3></section>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js" integrity="sha256-ixSKHrWAL2k0mqVSRju9+to2/uZSEK9+kJRfdNBolG8=" crossorigin="anonymous"></script>
<script>
Reveal.initialize({autoSlide: 4000, loop: true});

</script>

</html>
