<section class="row" id="privacy">
    <h2 class="col-12">Privacy</h2>
    <p class="col-12">
        If you've loaded this page on my website, <code>wizardsoftheweb.pro</code>, you should know that I'm actively tracking your usage via <a href="https://analytics.google.com/" target="_blank">Google Analytics</a>. Google collects <a href="https://www.google.com/policies/privacy/#infocollect" target="_blank">quite a bit of information</a> which is then <a href="https://www.google.com/policies/privacy/#infouse" target="_blank">shared across Google apps</a>, including Google Analytics.
    </p>
    <p class="col-12">
        As far as I know, Google Analytics does not respect <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/DNT" target="_blank">the Do Not Track header</a>. To opt out on my site, install the relevant <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">Google Analytics Opt-out Browser Add-on</a>. I also highly recommend reading <a href="https://www.eff.org/issues/do-not-track" target="_blank">EFF's DNT overview</a> and installing <a href="https://www.eff.org/privacybadger" target="_blank">EFF's Privacy Badger</a>.
    </p>
    <p class="col-12">
        If you're cool with me (and by extension Google) tracking your usage, I really appreciate it. I'm curious about how you interact with my content and eventually want to play with the data.
    </p>
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-primary">
                Monitored Events
            </div>
            <div class="list-group">
                <a href="https://support.google.com/tagmanager/answer/6106961?hl=en#Pageview" target="gtmhelp" class="list-group-item">Page views <span class="badge"><span class="glyphicon glyphicon-new-window"></span></span></a>
                <a href="https://support.google.com/tagmanager/answer/6106961?hl=en#scroll" target="gtmhelp" class="list-group-item">Scroll depth <span class="badge"><span class="glyphicon glyphicon-new-window"></span></span></a>
                <a href="https://support.google.com/tagmanager/answer/6106961?hl=en#Click" target="gtmhelp" class="list-group-item">Clicks on <code>.btn</code>s and <code>a</code>nchors (links) <span class="badge"><span class="glyphicon glyphicon-new-window"></span></span></a>
                <a href="https://support.google.com/tagmanager/answer/6106961?hl=en#HistoryChange" target="gtmhelp" class="list-group-item">History changes <span class="badge"><span class="glyphicon glyphicon-new-window"></span></span></a>
            </div>
        </div>
    </div>
</section>
