<footer class="row justify-content-center" id="other-stuff" runnerTrackedAnchor>
    <h2 class="col-12">Other Stuff</h2>
    <p class="col-12">
        I wrote about this on my blog (jk not yet; update when I do).
    </p>
    <p class="col-12">
        This page falls under <a href="//github.com/wizardsoftheweb/csp-iframe-sandbox-comparison/blob/master/LICENSE" target="_blank">the source's ISC license</a>.
    </p>
    <div class="col-12 col-sm-8 col-md-6">
        <div class="card">
            <div class="card-header bg-primary">
                Not My Code
            </div>
            <div class="list-group">
                <a href="//jquery.com/" target="_blank" class="list-group-item">jQuery <span class="badge"><span class="glyphicon glyphicon-new-window"></span></span></a>
                <a href="//getbootstrap.com" target="_blank" class="list-group-item">Bootstrap <span class="badge"><span class="glyphicon glyphicon-new-window"></span></span></a>
                <a href="//bootswatch.com/darkly/" target="_blank" class="list-group-item">Bootswatch's Darkly (with some local modifications) <span class="badge"><span class="glyphicon glyphicon-new-window"></span></span></a>
                <a href="//fonts.google.com/specimen/Lato" target="_blank" class="list-group-item">Lato via Google Fonts <span class="badge"><span class="glyphicon glyphicon-new-window"></span></span></a>
                <a href="//fonts.google.com/specimen/Roboto+Mono" target="_blank" class="list-group-item"><code>Roboto Mono</code> via Google Fonts <span class="badge"><span class="glyphicon glyphicon-new-window"></span></span></a>
            </div>
            <div class="card-body">
                Also lots of <a href="https://stackoverflow.com" target="_blank">Stack Overflow</a> and probably some stuff I forgot to explicitly mention.
            </div>
        </div>
    </div>
</footer>
